@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/images/DinoDiner-29.png" alt="Banner" style="width:900px;height:600px;" />
<p><a href="https://localhost:5001/Menu">Menu</a></p>
<p><a href="https://localhost:5001/Privacy">Privacy</a></p>
<p><a href="https://localhost:5001/About">About</a></p>