/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body 
{
    background-color: lightblue;
}

#container 
{
    display: flex;
    flex-direction: row;
}

form 
{
    background-color: lightgray;
    padding: 20px; /*will stay at this size*/
    width: 400px;
}

.menu-item 
{
    margin: 5px;
    border-bottom: 1px dashed gray;
    padding-bottom: 10px;
}

.checkbox-list 
{
    display: flex;
    flex-direction: column;
} 

table, td, th
{
    border: 1px solid black;
}